.col.col_right {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
  position: relative;
}

.big_title_card {
  padding: 7em 0;
}

.row {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
}

.col.col_left {
  background-size: cover;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.33333%;
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
  background-repeat: no-repeat;
  background-position: center center;
}

.col.col_middle {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 16.66667%;
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
  /* padding: 0 15px; */
}

.col.col_right h1 {
  font-size: 10em;
  position: absolute;
  top: -80px;
  left: -50px;
  right: 0;
  bottom: 0;
  font-weight: 700 !important;
  color: rgba(255, 255, 255, 0.08);
  text-transform: uppercase;
  margin: 0;
  line-height: 1.5;
}

.title_wrap {
  position: relative;
}

.big_title_card > .container > .row {
  margin-right: -15px;
  margin-left: -15px;
}

.desc h2 {
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 1px;
  margin-bottom: 3rem !important;
  line-height: 1.5;
  color: #fff;
}

.desc ul {
  margin-top: 1.5rem !important;
  padding-left: 0;
  list-style: none;
  margin-bottom: 1rem;
}

.desc ul > li {
  list-style: none;
  margin: 0 10px 10px 0;
  display: inline-block;
}

.desc ul > li > a {
  height: 60px;
  width: 60px;
  display: block;
  float: left;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 50%;
  position: relative;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  color: #2f89fc;
}

.desc ul > li > a > span {
  position: absolute;
  font-size: 26px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: icomoon !important;
  speak: none;
  color: #fff;
  font-style: normal;
  font-weight: 400;
  font-feature-settings: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color: #2f89fc;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.desc h5 {
  line-height: 1.5;
  color: #fff;
  font-weight: 400;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  font-family: inherit;
}
.desc ul > li > a:hover > span {
  color: #fff;
}
span.twitter:before {
  content: "\f099";
}

span.facebook:before {
  content: "\f09a";
}

span.instagram:before {
  content: "\f16d";
}
span.github:before {
  content: "\f09b";
}

.desc p a {
  text-decoration: none;
  position: relative;
}

.desc p {
  margin-top: 0;
  margin-bottom: 1rem;
}

@media (max-width: 1140px) {
  .col.col_right h1 {
    font-size: 9em;
  }
}

@media (max-width: 991px) {
  .col.col_right h1 {
    font-size: 7em;
    top: -45px;
    left: -6px;
  }
  .col.col_left {
    flex: 0 0 40%;
    max-width: 40%;
  }

  .col.col_middle {
    flex: 0 0 5%;
    max-width: 5%;
  }

  .col.col_right {
    flex: 0 0 55%;
    max-width: 55%;
  }
}

@media (max-width: 767px) {
  .col.col_left {
    flex: auto;
    max-width: 100%;
    width: 100%;
  }

  .col.col_right {
    flex: auto;
    max-width: 100%;
    margin-top: 30px;
    padding: 3rem !important;
  }

  .col.col_middle {
    flex: auto;
    max-width: 100%;
  }

  .col.col_left {
    background-size: contain;
    min-height: 300px;
    display: block;
  }
  .col.col_right h1 {
    font-size: 7em;
    top: 0px;
    left: 41px;
  }
}

@media(max-width:500px){

  .col.col_right h1 {
    font-size: 4em;
    top: -6px;
    left: 45px;
}
.big_title_card > .container > .row {
  margin-right: 0;
  margin-left: -0;
}
}
@media(max-width:375px){
  .col.col_right {
    padding-left: 15px!important;
    padding-right: 15px!important;
}

.col.col_right h1 {
    font-size: 3em;
    top: 10px;
    left: 15px;
}
}