header {
  padding: 2em 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  margin: 0 auto;
}

.col-md {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
  width: 100%;
  min-height: 1px;
}

.p-navbar-brand {
  float: left;
}

a.plogo {
  font-size: 20px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 400;
  letter-spacing: 5px;
  padding: 7px;
  display: block;
  text-align: center;
  position: relative;
  padding-left: 62px;
  text-decoration: none;
}

a.plogo > span {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

a.p-nav-toggle {
  float: right;
  z-index: 1003;
  position: relative;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  margin-top: 0;
  transition: 0.5s all ease;
}
.menu--open a.p-nav-toggle {
  opacity: 0;
}

a.p-nav-toggle > i {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 2px;
  color: #121212;
  font: bold 14px/0.4 Helvetica;
  text-transform: uppercase;
  text-indent: -55px;
  background: #fff;
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

a.p-nav-toggle > i:before,
a.p-nav-toggle > i:after {
  content: "";
  width: 40px;
  height: 2px;
  background: #fff;
  position: absolute;
  left: 0;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

a.p-nav-toggle > i:before {
  top: -7px;
}

a.p-nav-toggle > i:after {
  bottom: -7px;
}

a.p-nav-toggle:hover > i:before {
  top: -10px;
}

a.p-nav-toggle:hover > i:after {
  bottom: -10px;
}

nav.p-main-nav {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #03000e;
  z-index: 1002;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transform: scale(0.1);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.menu--open nav.p-main-nav {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.p-nav-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
}

a.p-nav-toggle.close_icon {
  position: absolute;
  top: 40px;
  right: 40px;
  padding: 20px;
  height: 44px;
  width: 44px;
  line-height: 0;
  padding: 0;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.menu--open a.p-nav-toggle.close_icon.close_visible {
  visibility: visible;
  opacity: 1;
}

a.p-nav-toggle.close_icon > i {
  background: transparent;
  top: 18px;
  left: 0;
  margin: 0;
  padding: 0;
  line-height: 0;
  text-indent: 0;
}

a.p-nav-toggle.close_icon.close_visible > i:before {
  top: 0;
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

a.p-nav-toggle.close_icon.close_visible > i:after {
  bottom: 0;
  -webkit-transform: rotateZ(-45deg);
  -moz-transform: rotateZ(-45deg);
  -ms-transform: rotateZ(-45deg);
  -o-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
}

body.menu--open {
  overflow: hidden;
}

.p-nav_wrap {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  position: relative;
}

.p-nav_wrap > .img {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 30%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.p-nav_wrap > .img:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: "";
  background: rgba(18, 18, 18, 0.3);
}

h1.nav_heading {
  margin-bottom: 1.5rem;
  line-height: 1.5;
  color: #fff;
  margin-top: 0;
  font-weight: 400;
  font-family: inherit;
  font-size: 2.5rem;
}

h1.nav_heading > a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}
.p-nav-inner ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.p-nav-inner ul > li {
  padding: 0;
  margin: 0;
  list-style: none;
  font-weight: 400;
  font-size: 40px;
}

.p-nav-inner ul > li > a {
  text-decoration: none;
  display: block;
  color: white;
  padding: 5px 0;
  text-transform: capitalize;
}

.p-nav-inner ul > li > a > span > small {
  position: absolute;
  bottom: 15px;
  left: -30px;
  font-size: 16px;
  color: #666666;
  border-bottom: 1px solid #666666;
}

.p-nav-inner ul > li > a > span {
  font-size: 40px;
  color: white;
  position: relative;
  text-transform: capitalize;
  padding: 0 10px;
}

@media (min-width: 768px) {
  .p-nav_wrap > .img {
    opacity: 1;
  }
}


@media (max-width:767px){
  .p-nav-inner ul > li > a > span {
    font-size: 30px;
}

.p-nav-inner ul > li > a {
    font-size: 24px;
}
.custom_slider .slider_inner h1 {
  font-size: 40px;
}
}