@font-face {
  font-family: icomoon;
  src: url("../assets/fonts/icomoon.woff");
}
.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.sectionBlock {
  padding: 7em 0;
  display: block;
}
/*========min-width:576px========= */
@media (min-width: 576px) {
  .container {
    max-width: 510px;
  }
}

/*========min-width:768px========= */
@media (min-width: 768px) {
  .container {
    max-width: 690px;
  }
}

/*========min-width:992px========= */
@media (min-width: 992px) {
  .container {
    max-width: 930px;
  }
}

/*========min-width:1200px========= */
@media (min-width: 1200px) {
  .container {
    max-width: 1110px;
  }
}
