@font-face {
  font-family: icomoon;
  src: url("../assets/fonts/icomoon.woff");
}

/* body:before {
  content: '';
  background-image: url('../assets/images/react.png');
  position: fixed;
  width: 350px;
  height: 350px;
  top: 50%;
  left: -9%;
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 0.1;
  background-size: contain;

} */

body::after {
  content: '';
    background-image: url('../assets/images/body-bg-2.jpg');
    width: 100%;
    height: 100%;
    background-size: cover;
    position: fixed;
    background-repeat: no-repeat;
    opacity: .25;
    top: 0;
    background-position-x: center;
    z-index: -1;
}


.container {
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.row {
  display: -webkit-box;
  display: -ms-flexbox; 
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.sectionBlock {
  padding: 7em 0;
  display: block;
}

.clearfix {
  *zoom: 1;
}

.clearfix:before, .clearfix:after {
  display: table;
  content: "";
}

.clearfix:after {
  clear: both;
}

.desc ul > li > a > span.linkedin {
  font-family: fontawesome;
}

.desc ul > li > a > span.linkedin:before {content: '\f0e1';}

.footer_wrap .social_wrap ul > li > a > span.linkedin:before {
  content: '\f0e1';
}

/*========min-width:576px========= */
@media (min-width: 576px) {
  .container {
    max-width: 510px;
  }
}

/*========min-width:768px========= */
@media (min-width: 768px) {
  .container {
    max-width: 690px;
  }
}

/*========min-width:992px========= */
@media (min-width: 992px) {
  .container {
    max-width: 930px;
  }
}

/*========min-width:1200px========= */
@media (min-width: 1200px) {
  .container {
    max-width: 1110px;
  }
}
