.progressContainer {
  left: 0;
  width: 100%;
  height: 0.4em;
  margin-bottom: 0px;
  position: fixed;
  top: 0px;
  overflow: hidden;
  background-color: #121212;
  content: "";
  z-index: 999;
}

.progressBar {
  z-index: 999;
  width: 0%;
  float: left;
  height: 100%;
  z-index: 99;
  max-width: 100%;
  background-color: #4f0dd2;
  -webkit-transition: width 0.6s ease;
  -o-transition: width 0.6s ease;
  transition: width 0.6s ease;
}
