body {
  font-family: poppins, Arial, sans-serif;
  background: #000;
  font-size: 18px;
  line-height: 1.8;
  font-weight: 400;
  color: #8c8c8c;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  color: #2f89fc;
}
